#see-more{
    width: auto;
}

#resource-header{
    height: 30px;
}

.card-header{
    padding-top: 0px !important;
}

#resource-checkbox{
    scale: 2;
    margin-top: 10px !important;
}

#filterCheckbox{
    margin-left: 10px;
}