:root {
    --dark_blue: #005191;
    --light_blue: #539ED0;
    --yellow_orange: #FFB351;
    --red: #FF443B;
    --black: #000000;
    --white: #FFFFFF;
    --font: Roboto; 
}






#see-more{
    width: auto;
}

#resource-header{
    height: 30px;
}

.card-header{
    padding-top: 0px !important;
}

#resource-checkbox{
    scale: 2;
    margin-top: 10px !important;
}

#filterCheckbox{
    margin-left: 10px;
}