:root {
    --dark_blue: #005191;
    --light_blue: #539ED0;
    --yellow_orange: #FFB351;
    --red: #FF443B;
    --black: #000000;
    --white: #FFFFFF;
    --font: Roboto; 
}

/* For elements that only get printed (not on main page) */
/* @media screen {
    .only-print {
        visibility: hidden;
    }
} */

@media print {
    body {
      visibility: hidden;
    }
    #sectionToPrint {
      visibility: visible;
      position: absolute;
      left: 0;
      top: 0;
    }
    /* .see-more {
        visibility: hidden;
    } */
    .hideOnPrint {
        display: none;
    }
  }

.navbar{
    background-color: var(--dark_blue);
}

#rowSelect{
    background-color: var(--dark_blue) !important;
}

#dropdownMenuButton1{
    background-color: var(--light_blue);
    color: var(--black);
}

.dropdown-menu{
    background-color: var(--light_blue);
    color: var(--black);
    padding: 0;
}

.dropdown-item{
    background-color: var(--light_blue);
    color: var(--black);
}

#exportButton, #expandAllButton, #exportAsCSVButton{
    background-color: var(--light_blue);
    color: var(--black);
}

#searchButton{
    background-color: var(--red);
    color: var(--white);
}

body{
    font-family: Roboto;
}

#see-more{
    width: auto;
}

#resource-checkbox{
    scale: 2;
    margin-top: 10px !important;
}

#buttonRow {
    margin-top: 10px;
    margin-bottom: 10px;
}

.card {
    margin-top: 10px;
    margin-bottom: 10px;
}

#filterCheckbox{
    margin-left: 10px;
}

#resource{
    background-color: var(--light_blue);
}

.resource-name {
    font-size: 20px;
}

#see-more{
    background-color: var(--yellow_orange);
}

#locationCriteriaRectangle{
    background-color: var(--light_blue);
    margin-left: 5px;
    margin-right: 5px;
    width: 10;
    border-radius: 10px;
}

#locationCriteriaX{
    height: 10px;
    width: auto;
    padding: 0;
    margin-top: auto;
    margin-bottom: auto;
}

#locationCriteriaText{
    padding: 0;
    width: auto;
    margin-top: auto;
    margin-bottom: auto;
}